
  body {background-color: #EAF6F6;
    font-family: 'Source Sans 3', sans-serif;}
  .container-fluid{background-position: center;}
  .author{text-align: center;}
  .title{text-align: center;
        padding:50px;}
  .supervisors{text-align: center;}
  .image{width:100%}


  hr{
    border-style: dotted none none;
    border-color: pink;
    border-width: 10px;
    width: 10%;
  }
  h1 {color: brown;
    font-family: 'Montserrat-Bold'}
  h4{color:blue;}
  h2{color:brown;}
  h3{color:darkturquoise;}
  img{background-color: green;}
  p {font-size: 20px;
    color: black;}
  ul {font-size: 20px;}
  ol{font-size: 20px;}
  h6 {color: maroon;}
